body {
    width: 100vw;
    height: 100vh;
}

/* navbar--------------------------------- */


.navSide {
    background-color: rgb(250, 250, 250);
}


.sideTitle span {
    font-size: small;
    color: black;

}

.sideIcon {
    color: #0a4345;
    font-size: large;
    margin-right: 0.4em;
}

.navSide a span {
    font-size: medium;
    font-weight: bolder;
    color: black;
}

.navSide a:hover {
    font-size: large;
    color: #0dcaf0;
}

.navSide a span:hover {
    font-size: large;
    color: #0dcaf0;
}


/*-----------------------------------------*/


/* login page----------------------------- */

.loginBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    /* background-image: linear-gradient(135deg, #5efce8 10%, #736efe 100%); */
    /* background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);*/
    /*background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);*/
    background-color: rgb(250, 250, 250);
}

.loginLogo {
    font-weight: bolder;
    color: rgb(0, 157, 255);
    text-shadow: 6px 6px rgb(0, 157, 255, 0.3);
    font-size: 75px;
    margin: 20px 0px;
}

.loginForm {
    height: calc(100%);
    /*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);*/
}

input[name = "username"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type = password] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.submitBtns {
    padding: 0em 3em 2em 3em;
}

.customLoginBtn {
    width: calc(100% - 20px);
    background-color: rgb(0, 157, 255);
    font-family: "Lato", sans-serif;
    font-weight: bold;
    /* border: 0.1em outset; */
    height: 50px;
    margin: 5px;
}

.customKakaoBtn {
    width: calc(100% - 20px);
    background-color: rgb(254, 229, 0);
    font-family: "Lato", sans-serif;
    font-weight: bold;
    color: black;
    height: 50px;
    margin: 5px;
}

/* .loginCheck {
  width: calc(100% - 10%);
} */

.loginAtags {
    width: calc(100% - 10%);
    margin: 1.5em 0em 0em 0em;
    display: flex;
    justify-content: space-between;
}

.loginAtags a {
    margin: 0.3em;
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-family: "Lato", sans-serif;
}

.rememberLine {
    padding: 0em 0em 0em 1em;
}


@media (min-width: 760px) {
    .loginForm {
        width: calc(35%);
    }
}

/*@media (min-width: 971px) and (max-width: 1400px) {*/
/*    .loginForm {*/
/*        width: calc(70%);*/
/*    }*/
/*}*/


/*@media (max-width: 970px) {*/
/*    .loginForm {*/
/*        width: calc(70%);*/
/*    }*/
/*}*/

/*@media (max-width: 700px) {*/
/*    .loginForm {*/
/*        width: calc(70%);*/
/*    }*/
/*}*/

@media (max-width: 575px) {
    .loginImg {
        display: none;
    }
}

@media (max-width: 575px) {
    .customNavbar {
        display: none;
    }

    .loginLogo {
        font-size: 70px;
    }

    .loginBody {
        background-image: none;
        background-color: rgb(255, 255, 255);
    }

    section {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 400px) {
    .loginLogo {
        font-size: 30px;
        text-shadow: 1.8px 1.5px rgb(0, 105, 150);
    }
}

/*-----------------------------------------*/

/* register------------------------------- */

.registerBody {
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.registerLogo {
    font-weight: bolder;
    color: rgb(0, 157, 255);
    text-shadow: 6px 6px rgb(0, 157, 255, 0.3);
    font-size: 100px;
    margin: 20px 0px;
}

.registerForm {
    font-family: "Nanum Gothic Coding", monospace;
}


.registerRadio input[type=radio] {
    display: none;
}

.registerRadio input[type=radio] + label {
    display: inline-block;
    cursor: pointer;
    height: 24px;
    width: 90px;
    border: 1px solid #333;
    line-height: 24px;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
}


.registerRadio input[type=radio] + label {
    background-color: #fff;
    color: #333;
}

.registerRadio input[type=radio]:checked + label {
    background-color: rgb(0, 157, 255);
    color: #fff;
}


.registerBtn {
    margin: 2em;
    width: calc(100% - 10%);
}

.registerAdressInput {
    width: calc(100% - 50%);
}

.registerAdressFind {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media (max-width: 560px) {
    .registerLogo {
        font-size: 50px;
        text-shadow: 1.8px 1.5px rgb(0, 105, 150);
    }
}

/*----------------------------------------------

/*default---------------------------------------*/


#layoutSidenav_content {
    /*background-color: #d9d9d9;*/
    /*background-image: linear-gradient(360deg, #d9d9d9 0%, #f6f2f2 74%);*/

    background-color: #f6f2f2;

    /*background-color: #ffffff;*/
    /*background-image: linear-gradient(180deg, #ffffff 0%, #d7e1ec 74%);*/

}

.customCard {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    font-weight: bold;
}

.customCard img {
    padding: 1em;
    border-radius: 1.5em;
}

.comProfile {
    max-height: 200px;
    max-width: 200px;
}

.phoneIcon {
    font-size: larger;
    margin: 0.3em;
}

.emailIcon {
    font-size: larger;
    margin: 0.3em;
}

.searchDiv {
    width: calc(100% - 30%);
    height: 3em;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.searchSelect {
    width: 8em;
}

/*----------------------------------------------*/


/*auction register-------------------------------*/

.conDays input[type=date] {
    display: inline;
    width: 150px;
    margin: 0.5em;
}

.contractForm {
    background-color: white;
    border-radius: 0.5em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.conRegisterInput {
    width: calc(100% - 10%);
    margin-top: 1em;
}

.documentInput {

}

.uploadFile {
    width: 275px;
}

.registerBtn {
    width: calc(100% - 60%);
}

.formTitle {
    margin-top: 1.5em;
}

/*----------------------------------------------*/

/*negotiation------------------------------------*/

#the-canvas {
    max-width: 500px;
}

.pdfArea {
    height: 500px;
}

.conImg {
    width: calc(100% - 10%);
    height: 500px;
}

.chatArea {
    height: 600px;
}

.workerSign {
    border: 0.1em solid black;
}

.requesterSign {
    border: 0.1em solid black;
}

/*----------------------------------------------*/


/* mypage------------------------------ */

/*----------------------------------------------*/


.contractView {
    /* background-image: linear-gradient(to top, #dfe9f3 0%, white 100%); */
}

.contractViewMainImg {
    max-width: 550px;
    max-height: 770px;
    padding: 2em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.contractViewListLine {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 1);
    font-size: 15px;
    margin: 8px 0px;
}

.contractViewListLine::before,
.contractViewListLine::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 1);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 16px;
}

.contractViewContent {
    max-width: 550px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.contractViewValue {
    margin: 1em;
}

.contractViewMapArea {
    margin: 1em;
}

.contractViewMap {
    width: 300px;
    height: 300px;
    background-color: #5efce8;
}

.contractViewCondition {
}

.contractViewBtns {
}

.contractViewContent h2 {
    font-weight: bold;
}

.contractViewContent .contractDate {
}

.contractViewContent h5 {
    font-weight: bolder;
}

.contractViewContent p {
    margin: 0em 0em 0em 1em;
}

/*---------------------------------------------------------------*/
.customFlexRow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.customFlexRowEnd {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    flex-wrap: wrap;
}

.customFlexRowAround {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.customFlexColumn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.customFlexColumnAround {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}


.workerImg {
    height: 200px;
    width: 200px;
}

.comaddressImg{
    width: calc(100% - 30%);
}

/*---------------------------------------------------------------*/

.subCard {
    height: 100%;
    padding: 1em;
}

.subCard-auction {
    padding: 1em;
    background-image: url(../assets/img/auction10.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    border-radius: 0.7em;
}

.subCard-workers {
    padding: 1em;
    background-image: url(../assets/img/workers.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    border-radius: 0.7em;
}

.subCard-question {
    background-image: url(../assets/img/question04.jpeg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    border-radius: 0.7em;
}

.subCardWord{
    margin: 2em;

}

.subArea{
 padding: 1em;
    transition: all 1s;
}

.subArea:hover{
    transform: scale(0.8);
}

.subTitle{
    background-image: linear-gradient(to bottom, rgba(210, 206, 206, 0.5) 0%, rgba(156, 152, 145, 0.5) 100%);
    border-radius: 0.5em;
    width: 10em;
    height: 2em;
    position: relative;
}

.mainTile{
    border-radius: 1.5em;
    background-image: linear-gradient(to bottom, rgba(210, 206, 206, 0.5) 0%, rgba(156, 152, 145, 0.5) 100%);
}