body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: gray;
}

.signArea {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
    height: 30vh;
    background-color: wheat;
}

.memberSignArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

.memberSignArea h4 {
}

.companySignArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

.companySignArea h4 {
}
