<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.oscatest.mapper.BidderMapper">

<!--    select * from tbl_bidder where conNo = #{conNo} order by bno desc-->
<!-- 해당 계약 입찰리스트   -->
    <select id="getList" resultType="Bidder">
        select com.comId, comName comPhone, comEmail, businessNum, comIntro, comProfile, bno, bid.conNo, price
        from tbl_company com INNER join tbl_bidder bid on com.comId = bid.comId where bid.conNo = #{conNo} group by com.comId
        order by bno desc
        limit #{skip},#{size}
    </select>


<!-- 해당 계약 입찰자 인수  -->
    <select id="getBidderTotal" resultType="int">


        select count(conNo) from tbl_bidder where conNo = #{conNo};
    </select>


<!-- 입찰하기  -->
    <insert id="insert">
        insert into tbl_bidder (conNo, comId, price) VALUES (#{conNo},#{comId},#{price})
    </insert>

<!-- 낙찰하기   -->
    <update id="updateAsBid">
        update tbl_bidder set state =1 where comId = #{comId} and conNo = #{conNo} and price=#{price}
    </update>

<!--  낙찰 후 협상 금액 변경  -->
    <update id="updateRaise">
        update tbl_bidder set price = #{price} where comId = #{comId} and conNo = #{conNo} and state =1
    </update>

<!-- 입찰제거(update) 변경예정  -->
    <update id="updateAsRemove">
        update tbl_bidder set delFlag=1 where comId = #{comId} and conNo = #{conNo}
    </update>

<!--  데이터 삭제  -->
    <delete id="delete">
        delete from tbl_bidder where delFlag =1;
    </delete>

</mapper>
