<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.oscatest.mapper.CommentMapper">

    <select id="selectListOfNego" resultType="Comment" >
        select * from tbl_comment where cno = #{negoNo} and rno > 0 order by rno asc
    </select>

    <insert id="insert">
        insert into tbl_comment (negoNo, commentText, writer)
        values (#{negoNo}, #{commentText}, #{write})
    </insert>
    <select id="selectTotalOfNego" resultType="int">
        select count(cno) from tbl_comment where negoNo = #{negoNo} and cno > 0
    </select>

    <update id="updateAsRemoved">
        update tbl_comment set commentText ='DELETED', updateDate = now() where negoNo = #{negoNo}
    </update>
</mapper>