<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.oscatest.mapper.CompanyMapper">


    <sql id="search">
        <where>
            <if test="keyword != null">
                <foreach collection="types" item="item" separator=" OR " open="(" close=")">
                    <if test='item == "t"'>
                        comId like concat('%', #{keyword}, '%')
                    </if>
                    <if test='item == "c"'>
                        comPhone like concat('%', #{keyword}, '%')
                    </if>
                    <if test='item == "w"'>
                        comEmail like concat('%', #{keyword}, '%')
                    </if>
                </foreach>
            </if>
        </where>
    </sql>

<!--  회사 등록  -->
    <insert id="insert">
        insert into tbl_company(comid, password, comname, comphone, comemail, comAddress, businessnum, businesscheck, comintro, comcategory, conno, comprofile,authority)
        values (#{comId}, #{password}, #{comName},#{comPhone},#{comEmail},#{comAddress},#{businessNum},#{businessCheck},
                #{comIntro},#{comCategory},#{conNo},#{comProfile},#{authority});

    </insert>

<!--  회사 리스트  -->
    <select id="getList" resultType="Company">
        select * from tbl_company where authority = 'COMPANY' order by regDate limit #{skip},#{size}
    </select>

    <!--  모든 시공사 수 (페이징 및 검색 활용) -->
    <select id="getTotal" resultType="int">
        select count(comId) from tbl_company  where authority = 'COMPANY'
        <include refid="search"></include>
    </select>

<!--  비밀번호 찾기  -->


<!--  회사 정보 출력  -->
    <select id="info" resultType="Company">
        select * from tbl_company where comId=#{comId}
    </select>


<!-- 정보 수정  -->
    <update id="update">
        update tbl_company
        set comName = #{comName}
        where comId = #{comId}
    </update>


<!--  회사 탈퇴(서비스 탈퇴)  -->
    <delete id="delete">
        delete from tbl_company where comId = #{comId};
    </delete>

<!--  회사 탈퇴(업데이트)  -->
    <update id="updateAsRemoved">
        update tbl_company set delFleg ='1', updateDate = now(), authority = '' where comId = #{comId}
    </update>


<!-- 계약가능 리스트 -->
<!--<select id="readContracts" resultType="org.zerock.oscatest.domain.Contract">-->
<!--    select * from tbl_contract where comId ='' or comId =null;-->
<!--</select>-->


<!--    <select id="companyInfo" resultType="Company">-->
<!--        select * from tbl_company order by comno desc-->
<!--    </select>-->



</mapper>
