<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.oscatest.mapper.NegotiationMapper">

    <select id="getList" resultType="Negotiation">
        select *
        from tbl_negotiation
        where worker = #{worker} or requester =#{worker}
        order by negoNo limit #{skip}, #{size}
    </select>

    <insert id="insert">
        insert into tbl_negotiation(conNo, worker, requester, price)
        values (#{conNo}, #{worker}, #{requester}, #{price})
    </insert>

    <select id="getTotal" resultType="int">
        select count(negoNo)
        from tbl_negotiation
    </select>

    <select id="getOne" resultType="Negotiation">
        select * from tbl_negotiation where negoNo = #{negoNo}
    </select>

</mapper>
